# KUYLAH by Stackoverthink

This code is kuylah collaborative filtering for recommendation system for kuylah user.

Collaborative filtering is a technique widely used by recommendation systems for having a decent size of user dan data. It makes recommendation based on the content preferences of similiar users.

The collaborative filtering approach focuses on finding users who have given similar ratings to the same destinations, thus creating a link between users, to whom will be suggested destinations that were reviewed in a positive way. In this way, we look for associations between users, not between destinations. Therefore, collaborative filtering relies only on observed user behavior to make recommendations — no profile data or content data is necessary.



---


Therefore, collaborative filtering is not a suitable model to deal with cold start problem, in which it cannot draw any inference for users or items about which it has not yet gathered sufficient information.

But once we have relative large user — item interaction data, then collaborative filtering is the most widely used recommendation approach. That is why we still generated ratings.csv by ourselves which contains 1000 users and each user gave 10 destination feedbacks

In [ ]:
# Upload dataset.csv and ratings.csv file for training
from google.colab import files
files.upload()

TypeError: ignored

In [ ]:
# Import necessary modules
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler

In [ ]:
# read csv files as pandas dataframe
rating = pd.read_csv('ratings.csv', error_bad_lines=False, encoding="latin-1")
destination = pd.read_csv('dataset.csv', error_bad_lines=False, encoding="latin-1")

In [ ]:
rating.head()

   user_id  index  ratings
0        1     24        5
1        1    123        3
2        1     51        1
3        1     76        4
4        1    139        4

In [ ]:
destination.head()

   index  ...                                        description
0      0  ...  Candi yang pernah masuk sebagai salah satu dar...
1      1  ...  Candi Prambanan adalah kompleks candi Hindu te...
2      2  ...  Tebing Breksi merupakan tempat wisata yang ber...
3      3  ...  Gambira Loka adalah kebun binatang yang berada...
4      4  ...  Kompleks keraton merupakan museum yang menyimp...

[5 rows x 10 columns]

In [ ]:
# Merge rating and destination based on index (destination primary key)
dest_rating = pd.merge(rating, destination, on='index')
cols = ['vote_average', 'vote_count', 'type', 'htm_weekday', 'htm_weekend', 'latitude', 'longitude', 'description']
dest_rating.drop(cols, axis=1, inplace=True)
dest_rating.head()

   user_id  index  ratings          nama
0        1     24        5  Pantai Drini
1       18     24        4  Pantai Drini
2       45     24        3  Pantai Drini
3       78     24        3  Pantai Drini
4      111     24        3  Pantai Drini

In [ ]:
# count how many destinations have reviewed
rating_count = (dest_rating.
     groupby(by = ['nama'])['ratings'].
     count().
     reset_index().
     rename(columns = {'ratings': 'RatingCount_dest'})
     [['nama', 'RatingCount_dest']]
    )
rating_count

                             nama  RatingCount_dest
0                  Affandi Museum                75
1       Agro Tourism Bhumi Merapi                64
2         Air Terjun Kedung Pedut                75
3                Balong Waterpark                63
4              Bendungan Kamijoro                76
..                            ...               ...
137  Wisata Air Wanatirta Kencana                63
138        Wisata Alam Watu Amben                62
139               Wisata Kalibiru                81
140        Wisata Telaga Potorono                75
141                     XT Square                70

[142 rows x 2 columns]

In [ ]:
rating_count['RatingCount_dest'].describe()

count    142.000000
mean      70.422535
std        8.595169
min       51.000000
25%       64.000000
50%       70.000000
75%       75.750000
max       99.000000
Name: RatingCount_dest, dtype: float64

In [ ]:
threshold = 65
rating_count = rating_count.query('RatingCount_dest >= @threshold')
rating_count.head()

                      nama  RatingCount_dest
0           Affandi Museum                75
2  Air Terjun Kedung Pedut                75
4       Bendungan Kamijoro                76
5        Blue Lagoon Jogja                75
6            Bukit Klangon                75

In [ ]:
rating_count.shape

(142, 2)

In [ ]:
# merge rating_coun and dest_count
user_rating = pd.merge(rating_count, dest_rating, left_on='nama', right_on='nama', how='left')
user_rating.head()

             nama  RatingCount_dest  user_id  index  ratings
0  Affandi Museum                75       17     84        2
1  Affandi Museum                75       28     84        5
2  Affandi Museum                75       42     84        2
3  Affandi Museum                75       56     84        4
4  Affandi Museum                75       60     84        2

In [ ]:
user_count = (user_rating.
     groupby(by = ['user_id'])['ratings'].
     count().
     reset_index().
     rename(columns = {'ratings': 'RatingCount_user'})
     [['user_id', 'RatingCount_user']]
    )
user_count

     user_id  RatingCount_user
0          1                10
1          2                10
2          3                10
3          4                10
4          5                10
..       ...               ...
995      996                10
996      997                10
997      998                10
998      999                10
999     1000                10

[1000 rows x 2 columns]

In [ ]:
user_count['RatingCount_user'].describe()

count    1000.0
mean       10.0
std         0.0
min        10.0
25%        10.0
50%        10.0
75%        10.0
max        10.0
Name: RatingCount_user, dtype: float64

In [ ]:
combined = user_rating.merge(user_count, left_on = 'user_id', right_on = 'user_id', how = 'inner')
combined

                                                   nama  ...  RatingCount_user
0                                        Affandi Museum  ...                10
1                               Air Terjun Kedung Pedut  ...                10
2                            Bukit Paralayang Watugupit  ...                10
3     Central Museum of the Air Force Dirgantara Man...  ...                10
4                                      Galaxy Waterpark  ...                10
...                                                 ...  ...               ...
9995                                Pantai Parangkusumo  ...                10
9996                                       Pantai Slili  ...                10
9997                                         Taman Sari  ...                10
9998                             Taman Wisata Kaliurang  ...                10
9999                             Wisata Alam Watu Amben  ...                10

[10000 rows x 6 columns]

In [ ]:
combined.shape

(10000, 6)

In [ ]:
print('Number of unique destination: ', combined['nama'].nunique())
print('Number of unique users: ', combined['user_id'].nunique())

Number of unique destination:  142
Number of unique users:  1000

In [ ]:
# Normalize the ratings with MinMaxScaler
scaler = MinMaxScaler()
combined['ratings'] = combined['ratings'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(combined['ratings'].values.reshape(-1,1)))
combined['ratings'] = rating_scaled

In [ ]:
combined

                                                   nama  ...  RatingCount_user
0                                        Affandi Museum  ...                10
1                               Air Terjun Kedung Pedut  ...                10
2                            Bukit Paralayang Watugupit  ...                10
3     Central Museum of the Air Force Dirgantara Man...  ...                10
4                                      Galaxy Waterpark  ...                10
...                                                 ...  ...               ...
9995                                Pantai Parangkusumo  ...                10
9996                                       Pantai Slili  ...                10
9997                                         Taman Sari  ...                10
9998                             Taman Wisata Kaliurang  ...                10
9999                             Wisata Alam Watu Amben  ...                10

[10000 rows x 6 columns]

In [ ]:
# transform the dataframe into matris for training sake
combined = combined.drop_duplicates(['user_id', 'nama'])
user_dest_matrix = combined.pivot(index='user_id', columns='nama', values='ratings')
user_dest_matrix.fillna(0, inplace=True)

users = user_dest_matrix.index.tolist()
dests = user_dest_matrix.columns.tolist()

user_dest_matrix = user_dest_matrix.values

In [ ]:
user_dest_matrix

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

In [ ]:
# We will initialize the TensorFlow placeholder.
# Then, weights and biases are randomly initialized,
# the following code are taken from the book: Python Machine Learning Cook Book - Second Edition
num_input = combined['nama'].nunique()
num_hidden_1 = 10
num_hidden_2 = 5

X = tf.placeholder(tf.float64, [None, num_input])

weights = {
    'encoder_h1': tf.Variable(tf.random_normal([num_input, num_hidden_1], dtype=tf.float64)),
    'encoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_hidden_2], dtype=tf.float64)),
    'decoder_h1': tf.Variable(tf.random_normal([num_hidden_2, num_hidden_1], dtype=tf.float64)),
    'decoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_input], dtype=tf.float64)),
}

biases = {
    'encoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'encoder_b2': tf.Variable(tf.random_normal([num_hidden_2], dtype=tf.float64)),
    'decoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'decoder_b2': tf.Variable(tf.random_normal([num_input], dtype=tf.float64)),
}

In [ ]:
# Build the encode and decoder model
def encoder(x):
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['encoder_h1']), biases['encoder_b1']))
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['encoder_h2']), biases['encoder_b2']))
    return layer_2

def decoder(x):
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['decoder_h1']), biases['decoder_b1']))
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['decoder_h2']), biases['decoder_b2']))
    return layer_2

In [ ]:
# Construct the model and the predictions
encoder_op = encoder(X)
decoder_op = decoder(encoder_op)

y_pred = decoder_op

y_true = X

In [ ]:
# Define loss function, optimizer, minimize the squared error, and evaluation metrics
loss = tf.losses.mean_squared_error(y_true, y_pred)
optimizer = tf.train.RMSPropOptimizer(0.03).minimize(loss)
eval_x = tf.placeholder(tf.int32, )
eval_y = tf.placeholder(tf.int32, )
pre, pre_op = tf.metrics.precision(labels=eval_x, predictions=eval_y)

In [ ]:
# Initialize the variables.
# Because TensorFlow uses computational graphs for its operations, placeholders and variables must be initialized.
init = tf.global_variables_initializer()
local_init = tf.local_variables_initializer()
pred_data = pd.DataFrame()

We start training our model.
- We split training data into batches, and we feed the network with them.
- We train our model with vectors of user ratings, each vector represents a user and each column a destination, and entries are ratings that the user gave to destination.
- After a few trials, we discovered that training model for 500 epochs with a batch size of 35 would be consuming enough memories. This means that the entire training set will feed our neural network 100 times, every time using 35 users.
- At the end, we must make sure to remove user’s ratings in the training set. That is, we must not recommend destinations to a user in which he (or she) has already rated.

In [ ]:
with tf.Session() as session:
    epochs = 500
    batch_size = 35

    session.run(init)
    session.run(local_init)

    num_batches = int(user_dest_matrix.shape[0] / batch_size)
    user_dest_matrix = np.array_split(user_dest_matrix, num_batches)

    for i in range(epochs):

        avg_cost = 0
        for batch in user_dest_matrix:
            _, l = session.run([optimizer, loss], feed_dict={X: batch})
            avg_cost += l

        avg_cost /= num_batches

        print("epoch: {} Loss: {}".format(i + 1, avg_cost))

    user_dest_matrix = np.concatenate(user_dest_matrix, axis=0)

    preds = session.run(decoder_op, feed_dict={X: user_dest_matrix})

    pred_data = pred_data.append(pd.DataFrame(preds))

    pred_data = pred_data.stack().reset_index(name='nama')
    pred_data.columns = ['user_id', 'nama', 'ratings']
    pred_data['user_id'] = pred_data['user_id'].map(lambda value: users[value])
    pred_data['nama'] = pred_data['nama'].map(lambda value: dests[value])

    keys = ['user_id', 'nama']
    index_1 = pred_data.set_index(keys).index
    index_2 = combined.set_index(keys).index

    top_ten_ranked = pred_data[~index_1.isin(index_2)]
    top_ten_ranked = top_ten_ranked.sort_values(['user_id', 'ratings'], ascending=[True, False])
    top_ten_ranked = top_ten_ranked.groupby('user_id').head(10)

epoch: 1 Loss: 0.34649403606142315
epoch: 2 Loss: 0.3423175790480205
epoch: 3 Loss: 0.3250672934310777
epoch: 4 Loss: 0.26927051906074795
epoch: 5 Loss: 0.14658397622406483
epoch: 6 Loss: 0.05821994545736483
epoch: 7 Loss: 0.02981460014624255
epoch: 8 Loss: 0.024449147417076995
epoch: 9 Loss: 0.024420475786817924
epoch: 10 Loss: 0.024417686808322157
epoch: 11 Loss: 0.024406798183918
epoch: 12 Loss: 0.024388139402227744
epoch: 13 Loss: 0.02435923188126513
epoch: 14 Loss: 0.02431849004434688
epoch: 15 Loss: 0.024266997086150304
epoch: 16 Loss: 0.024208963715604374
epoch: 17 Loss: 0.024148712001208748
epoch: 18 Loss: 0.024088075051882436
epoch: 19 Loss: 0.024027116064514433
epoch: 20 Loss: 0.023962109349668026
epoch: 21 Loss: 0.023888977044927224
epoch: 22 Loss: 0.023804512739713703
epoch: 23 Loss: 0.02371131010087473
epoch: 24 Loss: 0.023612176267696277
epoch: 25 Loss: 0.023506233069513525
epoch: 26 Loss: 0.02339327129136239
epoch: 27 Loss: 0.023271529669208185
epoch: 28 Loss: 0.023142462396728142
epoch: 29 Loss: 0.023004508377718075
epoch: 30 Loss: 0.022872343326785734
epoch: 31 Loss: 0.02273943747526833
epoch: 32 Loss: 0.022624620901686803
epoch: 33 Loss: 0.022512249049863646
epoch: 34 Loss: 0.022410550953022072
epoch: 35 Loss: 0.022313084519867386
epoch: 36 Loss: 0.02222412931067603
epoch: 37 Loss: 0.022133128185357367
epoch: 38 Loss: 0.022033183835446835
epoch: 39 Loss: 0.021939800520028387
epoch: 40 Loss: 0.02185466972046665
epoch: 41 Loss: 0.02175393747165799
epoch: 42 Loss: 0.021682697614388808
epoch: 43 Loss: 0.021593534720263312
epoch: 44 Loss: 0.02150554515953575
epoch: 45 Loss: 0.021444854060454027
epoch: 46 Loss: 0.021374386801783527
epoch: 47 Loss: 0.021317954241697277
epoch: 48 Loss: 0.021246101574173996
epoch: 49 Loss: 0.021193821847970997
epoch: 50 Loss: 0.021137123993997062
epoch: 51 Loss: 0.021103385835886
epoch: 52 Loss: 0.02104834547000272
epoch: 53 Loss: 0.02099721459671855
epoch: 54 Loss: 0.020972429708178555
epoch: 55 Loss: 0.020919105104569877
epoch: 56 Loss: 0.0208826730293887
epoch: 57 Loss: 0.020867551477359875
epoch: 58 Loss: 0.020816123179559196
epoch: 59 Loss: 0.02079735742881894
epoch: 60 Loss: 0.02073984100882496
epoch: 61 Loss: 0.02073163559128131
epoch: 62 Loss: 0.02069055169288601
epoch: 63 Loss: 0.02066533487024052
epoch: 64 Loss: 0.020620161667466164
epoch: 65 Loss: 0.020626775853868042
epoch: 66 Loss: 0.02057604618104441
epoch: 67 Loss: 0.020551806981010095
epoch: 68 Loss: 0.020537723587559804
epoch: 69 Loss: 0.020515008164303645
epoch: 70 Loss: 0.020473880294178213
epoch: 71 Loss: 0.02042984470192875
epoch: 72 Loss: 0.02044287896049874
epoch: 73 Loss: 0.020422779555831636
epoch: 74 Loss: 0.020384236105850766
epoch: 75 Loss: 0.020358965266495943
epoch: 76 Loss: 0.02035605940701706
epoch: 77 Loss: 0.02032414245020066
epoch: 78 Loss: 0.020320323894598653
epoch: 79 Loss: 0.02024496080619948
epoch: 80 Loss: 0.0202837583076741
epoch: 81 Loss: 0.02025765080803207
epoch: 82 Loss: 0.02020899093310748
epoch: 83 Loss: 0.02020875477631177
epoch: 84 Loss: 0.020211802130298957
epoch: 85 Loss: 0.02016038021871022
epoch: 86 Loss: 0.020164165579314743
epoch: 87 Loss: 0.020140912184225663
epoch: 88 Loss: 0.020138160658202002
epoch: 89 Loss: 0.020097511421356882
epoch: 90 Loss: 0.020103296198483025
epoch: 91 Loss: 0.02008584713829415
epoch: 92 Loss: 0.020039178098418882
epoch: 93 Loss: 0.020035245322755406
epoch: 94 Loss: 0.020053814364863292
epoch: 95 Loss: 0.020019753902618374
epoch: 96 Loss: 0.020031014257775887
epoch: 97 Loss: 0.02000886933611972
epoch: 98 Loss: 0.01998805015214852
epoch: 99 Loss: 0.019941061535584077
epoch: 100 Loss: 0.019978380828563656
epoch: 101 Loss: 0.019955300725996494
epoch: 102 Loss: 0.019905135368130038
epoch: 103 Loss: 0.019928657316735814
epoch: 104 Loss: 0.019918800464698246
epoch: 105 Loss: 0.019869006438446895
epoch: 106 Loss: 0.019903867838105986
epoch: 107 Loss: 0.01984166506943958
epoch: 108 Loss: 0.01986166908006583
epoch: 109 Loss: 0.019847330570753132
epoch: 110 Loss: 0.01984268573245832
epoch: 111 Loss: 0.01983470476365515
epoch: 112 Loss: 0.019824709011507884
epoch: 113 Loss: 0.019797682629099915
epoch: 114 Loss: 0.019806472584605217
epoch: 115 Loss: 0.019790490290948322
epoch: 116 Loss: 0.019788926001638174
epoch: 117 Loss: 0.01976370152884296
epoch: 118 Loss: 0.019764333963394165
epoch: 119 Loss: 0.019739178608038595
epoch: 120 Loss: 0.019738178034978255
epoch: 121 Loss: 0.019713130247380053
epoch: 122 Loss: 0.019714792059468373
epoch: 123 Loss: 0.01971597404086164
epoch: 124 Loss: 0.01969156600534916
epoch: 125 Loss: 0.019719071021037444
epoch: 126 Loss: 0.019651755491005524
epoch: 127 Loss: 0.019707949366420507
epoch: 128 Loss: 0.0196602188183793
epoch: 129 Loss: 0.01967043323176248
epoch: 130 Loss: 0.019610804971307516
epoch: 131 Loss: 0.01968018165124314
epoch: 132 Loss: 0.019626883058143512
epoch: 133 Loss: 0.01958582709942545
epoch: 134 Loss: 0.019640610752893344
epoch: 135 Loss: 0.019600474076079472
epoch: 136 Loss: 0.019613710099032948
epoch: 137 Loss: 0.01958540953429682
epoch: 138 Loss: 0.01958767617387431
epoch: 139 Loss: 0.01956521174205201
epoch: 140 Loss: 0.0195776265380638
epoch: 141 Loss: 0.01956888640831624
epoch: 142 Loss: 0.019562022095280036
epoch: 143 Loss: 0.0195414735270398
epoch: 144 Loss: 0.019611483639372245
epoch: 145 Loss: 0.019509908676679646
epoch: 146 Loss: 0.01953683121662055
epoch: 147 Loss: 0.019534628239593337
epoch: 148 Loss: 0.01950824653197612
epoch: 149 Loss: 0.019492459084306444
epoch: 150 Loss: 0.019503735538039888
epoch: 151 Loss: 0.019494220148772
epoch: 152 Loss: 0.019498680186058794
epoch: 153 Loss: 0.019504274308149303
epoch: 154 Loss: 0.019437816991869892
epoch: 155 Loss: 0.019483508276087896
epoch: 156 Loss: 0.019423581127609526
epoch: 157 Loss: 0.019452968013605902
epoch: 158 Loss: 0.019473418926021883
epoch: 159 Loss: 0.019462044217756817
epoch: 160 Loss: 0.01942815851154072
epoch: 161 Loss: 0.019440523348748684
epoch: 162 Loss: 0.019428996701857874
epoch: 163 Loss: 0.019423529904867922
epoch: 164 Loss: 0.01941513190312045
epoch: 165 Loss: 0.019432657597852603
epoch: 166 Loss: 0.01934266442965184
epoch: 167 Loss: 0.01944899239710399
epoch: 168 Loss: 0.01934454164334706
epoch: 169 Loss: 0.019397528376430273
epoch: 170 Loss: 0.019392852604921375
epoch: 171 Loss: 0.019358326015727862
epoch: 172 Loss: 0.019359703375292674
epoch: 173 Loss: 0.019371106289327145
epoch: 174 Loss: 0.01935271652681487
epoch: 175 Loss: 0.019366737455129623
epoch: 176 Loss: 0.019329901851181473
epoch: 177 Loss: 0.01933903167290347
epoch: 178 Loss: 0.019335797655263116
epoch: 179 Loss: 0.01934659108519554
epoch: 180 Loss: 0.019342236486928805
epoch: 181 Loss: 0.01930208763639842
epoch: 182 Loss: 0.019313797022082975
epoch: 183 Loss: 0.019325905812105963
epoch: 184 Loss: 0.019280655109988793
epoch: 185 Loss: 0.019318810597594296
epoch: 186 Loss: 0.019300112168171575
epoch: 187 Loss: 0.01930974976026586
epoch: 188 Loss: 0.01926773427320378
epoch: 189 Loss: 0.01930949231609702
epoch: 190 Loss: 0.019280459133109877
epoch: 191 Loss: 0.01925844433052199
epoch: 192 Loss: 0.01928389192159687
epoch: 193 Loss: 0.019243595988622735
epoch: 194 Loss: 0.019243578293493817
epoch: 195 Loss: 0.01926159592611449
epoch: 196 Loss: 0.019307535008660386
epoch: 197 Loss: 0.01926466596445867
epoch: 198 Loss: 0.019243623994823014
epoch: 199 Loss: 0.0192083939909935
epoch: 200 Loss: 0.01923943789941924
epoch: 201 Loss: 0.019229777889060124
epoch: 202 Loss: 0.0192350525009845
epoch: 203 Loss: 0.019241579808294773
epoch: 204 Loss: 0.019238698429294994
epoch: 205 Loss: 0.01921211928129196
epoch: 206 Loss: 0.01922846838299717
epoch: 207 Loss: 0.019164500891097953
epoch: 208 Loss: 0.01917229958676866
epoch: 209 Loss: 0.019249987988067523
epoch: 210 Loss: 0.019173253261085068
epoch: 211 Loss: 0.01919711527547666
epoch: 212 Loss: 0.019201718204255615
epoch: 213 Loss: 0.01919225144333073
epoch: 214 Loss: 0.019177351612597704
epoch: 215 Loss: 0.019188576244882176
epoch: 216 Loss: 0.019192279183438847
epoch: 217 Loss: 0.019137572962790728
epoch: 218 Loss: 0.01917693697448288
epoch: 219 Loss: 0.01918466156348586
epoch: 220 Loss: 0.0191367746862982
epoch: 221 Loss: 0.0191642439125904
epoch: 222 Loss: 0.019176235355968987
epoch: 223 Loss: 0.019158368531082357
epoch: 224 Loss: 0.019164287019520998
epoch: 225 Loss: 0.019123305699654987
epoch: 226 Loss: 0.019153340253978968
epoch: 227 Loss: 0.019123518506863287
epoch: 228 Loss: 0.01920099769319807
epoch: 229 Loss: 0.019113037269562483
epoch: 230 Loss: 0.019157585887504474
epoch: 231 Loss: 0.01912112906575203
epoch: 232 Loss: 0.01911707455292344
epoch: 233 Loss: 0.01913857719461833
epoch: 234 Loss: 0.019096653841968094
epoch: 235 Loss: 0.019167666855667318
epoch: 236 Loss: 0.019095356642667736
epoch: 237 Loss: 0.01909454951861075
epoch: 238 Loss: 0.019126560871622393
epoch: 239 Loss: 0.019091650377959013
epoch: 240 Loss: 0.01905369884999735
epoch: 241 Loss: 0.01912955188059381
epoch: 242 Loss: 0.0191217873777662
epoch: 243 Loss: 0.019089979718306234
epoch: 244 Loss: 0.01908838389707463
epoch: 245 Loss: 0.019093741330185106
epoch: 246 Loss: 0.019049053878656456
epoch: 247 Loss: 0.01909627885158573
epoch: 248 Loss: 0.019103161857596467
epoch: 249 Loss: 0.019059861078858376
epoch: 250 Loss: 0.019093621389142106
epoch: 251 Loss: 0.019050833569573506
epoch: 252 Loss: 0.019063698194388832
epoch: 253 Loss: 0.01905629105333771
epoch: 254 Loss: 0.01905121867145811
epoch: 255 Loss: 0.019066182297787497
epoch: 256 Loss: 0.01906672532537154
epoch: 257 Loss: 0.018994936786059822
epoch: 258 Loss: 0.019073850009590387
epoch: 259 Loss: 0.019058057639215673
epoch: 260 Loss: 0.0190171577435519
epoch: 261 Loss: 0.01898186287975737
epoch: 262 Loss: 0.019052330936704363
epoch: 263 Loss: 0.01907561220494764
epoch: 264 Loss: 0.019018696354968206
epoch: 265 Loss: 0.01900592732376286
epoch: 266 Loss: 0.019054092533354248
epoch: 267 Loss: 0.01901555779789175
epoch: 268 Loss: 0.01901858825502651
epoch: 269 Loss: 0.019013330606477603
epoch: 270 Loss: 0.01899311099467533
epoch: 271 Loss: 0.019043905727033104
epoch: 272 Loss: 0.018982027856899158
epoch: 273 Loss: 0.019000299807105745
epoch: 274 Loss: 0.01902058700631772
epoch: 275 Loss: 0.018966028400297676
epoch: 276 Loss: 0.01897598776434149
epoch: 277 Loss: 0.018989233100520714
epoch: 278 Loss: 0.01897516959745969
epoch: 279 Loss: 0.018972054922154973
epoch: 280 Loss: 0.019009478456739868
epoch: 281 Loss: 0.018977272656879256
epoch: 282 Loss: 0.019001811277121305
epoch: 283 Loss: 0.018977656428303038
epoch: 284 Loss: 0.018966132176241705
epoch: 285 Loss: 0.01898099302447268
epoch: 286 Loss: 0.018950437860829488
epoch: 287 Loss: 0.018991827964782715
epoch: 288 Loss: 0.018936948717704842
epoch: 289 Loss: 0.01894246061731662
epoch: 290 Loss: 0.018989696566547667
epoch: 291 Loss: 0.018944443003939732
epoch: 292 Loss: 0.018993762654385397
epoch: 293 Loss: 0.01892939569162471
epoch: 294 Loss: 0.01892630516418389
epoch: 295 Loss: 0.018954860578690256
epoch: 296 Loss: 0.018969602018062557
epoch: 297 Loss: 0.018920098897069693
epoch: 298 Loss: 0.018975867025021995
epoch: 299 Loss: 0.01896522014534899
epoch: 300 Loss: 0.018949780014476607
epoch: 301 Loss: 0.01894690907959427
epoch: 302 Loss: 0.01894515972318394
epoch: 303 Loss: 0.01894401173506464
epoch: 304 Loss: 0.01891079538368753
epoch: 305 Loss: 0.018929981094385897
epoch: 306 Loss: 0.01892156632883208
epoch: 307 Loss: 0.01892023573496512
epoch: 308 Loss: 0.018959581452820982
epoch: 309 Loss: 0.018898120948246548
epoch: 310 Loss: 0.0189071255736053
epoch: 311 Loss: 0.018934018843408142
epoch: 312 Loss: 0.018943835914667164
epoch: 313 Loss: 0.018896120134741068
epoch: 314 Loss: 0.018868468036609038
epoch: 315 Loss: 0.018927864264696836
epoch: 316 Loss: 0.01889768542189683
epoch: 317 Loss: 0.018896594310977628
epoch: 318 Loss: 0.018908755654203042
epoch: 319 Loss: 0.018876177790973867
epoch: 320 Loss: 0.018881430184202536
epoch: 321 Loss: 0.01889207772910595
epoch: 322 Loss: 0.01889047452381679
epoch: 323 Loss: 0.018894900833921775
epoch: 324 Loss: 0.018861024707023586
epoch: 325 Loss: 0.018856976447360858
epoch: 326 Loss: 0.018885044048407247
epoch: 327 Loss: 0.018917669941272055
epoch: 328 Loss: 0.018889451266399453
epoch: 329 Loss: 0.018884382410241023
epoch: 330 Loss: 0.018868600483983755
epoch: 331 Loss: 0.01884547042261277
epoch: 332 Loss: 0.018826203487281288
epoch: 333 Loss: 0.018885294374610697
epoch: 334 Loss: 0.018845885725958005
epoch: 335 Loss: 0.018868782823639258
epoch: 336 Loss: 0.018851787650159428
epoch: 337 Loss: 0.01882112751315747
epoch: 338 Loss: 0.018843784196568385
epoch: 339 Loss: 0.01888366150004523
epoch: 340 Loss: 0.018846464742507254
epoch: 341 Loss: 0.018786463753453324
epoch: 342 Loss: 0.01886850775086454
epoch: 343 Loss: 0.018851906260741607
epoch: 344 Loss: 0.01885518790887935
epoch: 345 Loss: 0.01883134398875492
epoch: 346 Loss: 0.018839764342244183
epoch: 347 Loss: 0.01884612687198179
epoch: 348 Loss: 0.01884270865204079
epoch: 349 Loss: 0.018820044052387987
epoch: 350 Loss: 0.018818514088967016
epoch: 351 Loss: 0.018815634173474143
epoch: 352 Loss: 0.018840740700917586
epoch: 353 Loss: 0.01884258052866374
epoch: 354 Loss: 0.01880550943315029
epoch: 355 Loss: 0.018822076530861005
epoch: 356 Loss: 0.01883152752582516
epoch: 357 Loss: 0.018812102864363363
epoch: 358 Loss: 0.01882890678410019
epoch: 359 Loss: 0.018765324127993414
epoch: 360 Loss: 0.018817854978676354
epoch: 361 Loss: 0.018806728667446544
epoch: 362 Loss: 0.018803256430796216
epoch: 363 Loss: 0.018803173476564034
epoch: 364 Loss: 0.018774706138564006
epoch: 365 Loss: 0.018774579345647777
epoch: 366 Loss: 0.01878485462761351
epoch: 367 Loss: 0.018827501883996383
epoch: 368 Loss: 0.018792179745755026
epoch: 369 Loss: 0.018784073580588614
epoch: 370 Loss: 0.018774305137672594
epoch: 371 Loss: 0.018801428710243533
epoch: 372 Loss: 0.01875759874071394
epoch: 373 Loss: 0.018773287468190705
epoch: 374 Loss: 0.018776734293039356
epoch: 375 Loss: 0.018775012211075852
epoch: 376 Loss: 0.018782237943794047
epoch: 377 Loss: 0.018769037510667528
epoch: 378 Loss: 0.018789799617869512
epoch: 379 Loss: 0.018727339870695556
epoch: 380 Loss: 0.018768868542143276
epoch: 381 Loss: 0.018743887344109162
epoch: 382 Loss: 0.018754959172968353
epoch: 383 Loss: 0.018758828419127634
epoch: 384 Loss: 0.018728320486843586
epoch: 385 Loss: 0.018717277462461164
epoch: 386 Loss: 0.018772870169154236
epoch: 387 Loss: 0.018727174095277275
epoch: 388 Loss: 0.018718384206295013
epoch: 389 Loss: 0.01877014066225716
epoch: 390 Loss: 0.018726615035640343
epoch: 391 Loss: 0.018738991181765283
epoch: 392 Loss: 0.01871107132839305
epoch: 393 Loss: 0.018744237388351133
epoch: 394 Loss: 0.0187323269035135
epoch: 395 Loss: 0.018676536357296363
epoch: 396 Loss: 0.018762403766491582
epoch: 397 Loss: 0.0187191927938589
epoch: 398 Loss: 0.01876961113885045
epoch: 399 Loss: 0.01864223907302533
epoch: 400 Loss: 0.018738257898283855
epoch: 401 Loss: 0.018716770423842326
epoch: 402 Loss: 0.018721818325242827
epoch: 403 Loss: 0.018715964031538794
epoch: 404 Loss: 0.018719506849135672
epoch: 405 Loss: 0.018730496322470053
epoch: 406 Loss: 0.01867270196921059
epoch: 407 Loss: 0.018744113322879587
epoch: 408 Loss: 0.01868868845381907
epoch: 409 Loss: 0.01875115112800683
epoch: 410 Loss: 0.018664125486143997
epoch: 411 Loss: 0.018711814656853676
epoch: 412 Loss: 0.0186684524773487
epoch: 413 Loss: 0.018730600231460164
epoch: 414 Loss: 0.01871008286252618
epoch: 415 Loss: 0.018692961228745326
epoch: 416 Loss: 0.01872938671814544
epoch: 417 Loss: 0.01868178722049509
epoch: 418 Loss: 0.018664594274014235
epoch: 419 Loss: 0.018715177862239734
epoch: 420 Loss: 0.01871730001377208
epoch: 421 Loss: 0.018662960468126193
epoch: 422 Loss: 0.01865491982815521
epoch: 423 Loss: 0.018704003853989497
epoch: 424 Loss: 0.018714198975690773
epoch: 425 Loss: 0.018651247756289586
epoch: 426 Loss: 0.018620147768940245
epoch: 427 Loss: 0.018698806608361856
epoch: 428 Loss: 0.01870558610452073
epoch: 429 Loss: 0.01869074667670897
epoch: 430 Loss: 0.018644990798618113
epoch: 431 Loss: 0.018664144245641574
epoch: 432 Loss: 0.018667935327227627
epoch: 433 Loss: 0.0185946665172066
epoch: 434 Loss: 0.018744437090520347
epoch: 435 Loss: 0.018610304088464806
epoch: 436 Loss: 0.0187070154185806
epoch: 437 Loss: 0.01861052554366844
epoch: 438 Loss: 0.018660799533660923
epoch: 439 Loss: 0.018635176388280734
epoch: 440 Loss: 0.018653210319046463
epoch: 441 Loss: 0.018637982995382378
epoch: 442 Loss: 0.018588741842125143
epoch: 443 Loss: 0.018652412707784345
epoch: 444 Loss: 0.018632178327866962
epoch: 445 Loss: 0.018647244000541314
epoch: 446 Loss: 0.01860047969967127
epoch: 447 Loss: 0.018692624954772846
epoch: 448 Loss: 0.018598497712186406
epoch: 449 Loss: 0.018620101069765433
epoch: 450 Loss: 0.018651626871100495
epoch: 451 Loss: 0.018598702802721943
epoch: 452 Loss: 0.018638676165470054
epoch: 453 Loss: 0.018583800244544233
epoch: 454 Loss: 0.018638146375971183
epoch: 455 Loss: 0.01856779812702111
epoch: 456 Loss: 0.018612258468887637
epoch: 457 Loss: 0.018583959766796658
epoch: 458 Loss: 0.018609216968928064
epoch: 459 Loss: 0.01862257087071027
epoch: 460 Loss: 0.0186312428808638
epoch: 461 Loss: 0.01859543226393206
epoch: 462 Loss: 0.018624591308512857
epoch: 463 Loss: 0.018617511527346715
epoch: 464 Loss: 0.01860396983101964
epoch: 465 Loss: 0.018558803347072432
epoch: 466 Loss: 0.01858893602288195
epoch: 467 Loss: 0.018590901313083514
epoch: 468 Loss: 0.01864425152806299
epoch: 469 Loss: 0.01856247229235513
epoch: 470 Loss: 0.01856442866846919
epoch: 471 Loss: 0.018597766158304045
epoch: 472 Loss: 0.0186230263539723
epoch: 473 Loss: 0.01856858323195151
epoch: 474 Loss: 0.018549707119486163
epoch: 475 Loss: 0.01861012913286686
epoch: 476 Loss: 0.01857221924832889
epoch: 477 Loss: 0.01857735961675644
epoch: 478 Loss: 0.018558782392314503
epoch: 479 Loss: 0.018555859702506235
epoch: 480 Loss: 0.01855936806116785
epoch: 481 Loss: 0.018547080789825747
epoch: 482 Loss: 0.018574850434171303
epoch: 483 Loss: 0.01864426150651915
epoch: 484 Loss: 0.01851685531437397
epoch: 485 Loss: 0.01854528347030282
epoch: 486 Loss: 0.018543180876544545
epoch: 487 Loss: 0.018557422062648193
epoch: 488 Loss: 0.01861422156382884
epoch: 489 Loss: 0.018482177119169916
epoch: 490 Loss: 0.01857699766489012
epoch: 491 Loss: 0.018589249945112636
epoch: 492 Loss: 0.018503569665231874
epoch: 493 Loss: 0.01855129256312336
epoch: 494 Loss: 0.018587997582341944
epoch: 495 Loss: 0.018523326476237605
epoch: 496 Loss: 0.01853855506383947
epoch: 497 Loss: 0.01854386054245489
epoch: 498 Loss: 0.018551478162407875
epoch: 499 Loss: 0.01857513887807727
epoch: 500 Loss: 0.01854318387008139

After 500 epochs of training, we saved the recommendation in `top_ten_ranked` pandas dataframe, which saved top ten ranked destination recommendation for each user.

Below example top ten ranked destinations for user 3 and user 123

In [ ]:
top_ten_ranked.loc[top_ten_ranked['user_id'] == 3]

     user_id                                            nama   ratings
349        3                Mangrove Jembatan Api-Api (MJAA)  0.345480
284        3                                  Affandi Museum  0.321784
315        3                            Desa Wisata Gamplong  0.265625
297        3                                    Bundaran UGM  0.211005
290        3                                   Bukit Klangon  0.175006
360        3                           Museum Wayang Kekayon  0.149750
340        3  Kawasan Ekowisata Gunung Api Purba Nglanggeran  0.122032
336        3                           Jogja National Museum  0.115224
423        3                                 Wisata Kalibiru  0.113527
413        3                           The Lost World Castle  0.107662

In [ ]:
top_ten_ranked.loc[top_ten_ranked['user_id'] == 123]

       user_id                     nama   ratings
17359      123        Embung Tambakboyo  0.337430
17326      123  Air Terjun Kedung Pedut  0.259476
17408      123           Pantai Kesirat  0.174604
17391      123    Monumen Yogya Kembali  0.163451
17407      123        Pantai Indrayanti  0.118556
17424      123            Pantai Timang  0.097450
17327      123         Balong Waterpark  0.095495
17450      123            Tebing Breksi  0.088619
17409      123            Pantai Kuwaru  0.084833
17346      123          Candi Prambanan  0.077256

In [ ]:
top_ten_ranked

        user_id                                       nama   ratings
42            1                               Goa Selarong  0.255784
138           1                     Wisata Alam Watu Amben  0.187140
70            1  Museum Factory Dan Kedai Chocolate Monggo  0.150734
46            1               Gunung Api Purba Nglanggeran  0.136025
53            1                   Jurang Tembelan Kanigoro  0.061779
...         ...                                        ...       ...
141938     1000                               Pantai Drini  0.098939
141961     1000                              Pasar Kembang  0.082962
141903     1000             Grojogan Watu Purbo Bangunrejo  0.080489
141941     1000                          Pantai Indrayanti  0.067598
141891     1000                       Desa Wisata Pulesari  0.063946

[10000 rows x 3 columns]

In [ ]:
top_ten_ranked.to_csv(r'top_ten_ranked.csv', index = False, header=True)